

body  {
    padding: 35px 80px 90px 80px;
    background-color: #fefcf7; 
}

nav {
    width: 100%;
    height: 64px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    gap: 760px;
    font-family: 'Barlow', sans-serif;
    ul {
        list-style: none;
        display: flex;
        gap: 30px;
        a {
            text-decoration: none;
            li {
                font-size: 15px;
                color: #83888f;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 1px;
                &:hover {
                    color: #333D4B;
                    font-size: 17px;
                    font-weight: 800;
                }
            }
        }
    }
}

main {
    width: 1310px;
    height: 600px;
    img {
        width: 100%;
        height: 600px;
        padding: 35px 30px;
        border-radius: 10px;
        z-index: 2;
    }

    article {
        z-index: 1;
        position: relative;
        top: -585px;
        left: 120px;
        color: red;

        h1 {
            color: #fefcf7;
            font-family: 'Fraunces', serif;
            font-size: 72px;
            line-height: 72px;
        }

        p {
            color: #fefcf7;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.8;
            padding-bottom: 30px;
            line-height: 26px;
        }

        button {
            width: 217px;
            height: 56px;
            flex-shrink: 0;
            border-radius: 6px;
            padding: 15px 30px;
            border: none;
            color: white;
            background-color: #0e8784;
            font-family: 'Fraunces', serif;
            text-align: center;
            font-size: 18px;
            font-weight: 900;
            line-height: 25px;
            position: relative;
            top: -0.5px;
            left: -3px;

            &:hover {
                background: #66D2CF;
            }
        }
    }
}

.cards {
    width: 1111px;
    height: 525px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 200px;
    left: 135px;

    .card1 {
        width: 255px;
        height: 400px;

        article {
            text-align: center;
            
            h3 {
            color: #333D4B;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            }

            p {
            color: #333D4B;
            font-family: 'Barlow', sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            }
        }
    }

    .card2 {
        width: 255px;
        height: 400px;

        article {
            text-align: center;
            
            h3 {
            color: #333D4B;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            }

            p {
            color: #333D4B;
            font-family: 'Barlow', sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            }
        }
    }

    .card3 {
        width: 255px;
        height: 400px;

        article {
            text-align: center;
            
            h3 {
            color: #333D4B;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            }

            p {
            color: #333D4B;
            font-family: 'Barlow', sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            }
        }
    }

    .card4 {
        width: 255px;
        height: 400px;

        article {
            text-align: center;
            
            h3 {
            color: #333D4B;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
            }

            p {
            color: #333D4B;
            font-family: 'Barlow', sans-serif;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;

            }
        }
    }
}

.section1 {
    width: 1280px;
    height: 577px;
    background-color: #2c343e;
    border-radius: 10px;
    position: relative;
    left: 40px;
    top: 400px;
    z-index: 1;

   article {
    position: relative;
    top: 100px;


    h1 {
        color: #fefcf7;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 40px;
        font-weight: 900;
        line-height: 48px;
    }

    p {
        color: #fefcf7;
        text-align: center;
        font-family: 'Barlow', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        opacity: 0.8;
    }
   }
}

.cards2 {
    width: 1110px;
    height: 382px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    top: 195px;
    left: 120px;
    z-index: 3;

    .card5 {
        width: 350px;
        height: 382px;
        border-radius: 8px;
        background-color: #0e8784;
        align-items: center;

        h4 {
            color: #fefcf7;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            color: #fefcf7;
            text-align: center;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        img {
            padding-left: 135px;
            padding-top: 72px;
        }
    }

    .card6 {
        width: 350px;
        height: 382px;
        border-radius: 8px;
        background-color: #0e8784;
        align-items: center;

        h4 {
            color: #fefcf7;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            color: #fefcf7;
            text-align: center;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        img {
            padding-left: 135px;
            padding-top: 72px;
        }
    }

    .card7 {
        width: 350px;
        height: 382px;
        border-radius: 8px;
        background-color: #0e8784;
        align-items: center;

        h4 {
            color: #fefcf7;
            text-align: center;
            font-family: 'Fraunces', serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
        }

        p {
            color: #fefcf7;
            text-align: center;
            font-family: 'Barlow', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }

        img {
            padding-left: 135px;
            padding-top: 92px;
        }
    }
}

.section2 {
    width: 1045px;
    height: 600px;
    position: relative;
    top: 430px;
    left: 120px;
    gap: 80px;
    
    h3 {
        color: #83888f;
        font-family: 'Fraunces', serif;
        font-size: 24px;
        font-weight: 900;
        line-height: 32px;
        position: relative;
        top: -70px;
    }
    
    .line {
        width: 760px;
        height: 2px;
        background-color:#fdd6ba;
        z-index: 2;
    }

    .lines {
        width: 760px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: -16px;
        z-index: 1;
    }

    .cards3 {
        width: 1045px;
        height: 400px;
        display: flex;
        gap: 80px;

        .card8 {
            width: 285px;
            height: 355px;

            h2 {
                color: #fdd6ba;
                font-family: 'Fraunces', serif;
                font-size: 72px;
                font-weight: 900;
                line-height: 72px;
            }

            h3 {
                color: #333D4B;
                font-family: 'Fraunces', serif;
                font-size: 32px;
                font-weight: 900;
                line-height: 36px;
            }

            p {
                color: black;
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
        }

        .card9 {
            width: 285px;
            height: 355px;

            h2 {
                color: #fdd6ba;
                font-family: 'Fraunces', serif;
                font-size: 72px;
                font-weight: 900;
                line-height: 72px;
            }

            h3 {
                color: #333D4B;
                font-family: 'Fraunces', serif;
                font-size: 32px;
                font-weight: 900;
                line-height: 36px;
            }

            p {
                color: black;
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
        }

        .card10 {
            width: 285px;
            height: 355px;

            h2 {
                color: #fdd6ba;
                font-family: 'Fraunces', serif;
                font-size: 72px;
                font-weight: 900;
                line-height: 72px;
            }

            h3 {
                color: #333D4B;
                font-family: 'Fraunces', serif;
                font-size: 32px;
                font-weight: 900;
                line-height: 36px;
            }

            p {
                color: black;
                font-family: 'Barlow', sans-serif;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }
}

button {
    width: 217px;
    height: 56px;
    border-radius: 6px;
    border: none;
    background-color: #0e8784;
    color: #fefcf7;
    text-align: center;
    font-family: 'Fraunces', serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    position: relative;
    top: 440px;
    left: 117px;

    &:hover {
        background-color: #66D2CF;
        transition: 1s;
    }
}

footer {
    width: 1280px;
    height: 120px;
    background-color: #2c343e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 700px;
    left: 25px;

    ul {
        display: flex;
        list-style: none;
        position: relative;
        left: -100px;
        
        a {
            text-decoration: none;

            li {
                padding: 0px 33px;
                color: #83888f;
                font-family: 'Barlow', sans-serif;
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                letter-spacing: 1;

            }
        }
    }
}

.space {
    width: 100%;
    height: 100px;
    position: relative;
    top: 670px;
}